body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: .5px;
  background-image: url(../images/Tokyo1.jpg);
}
h2 {
  letter-spacing: 15px;
  color: floralwhite;
}
.light-grey {
  color: lightgray;
}

.jumbotron {
  font-family: monospace;
  font-weight: lighter;
  letter-spacing: 20px;
}

.me-img {
  float: left;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

.clearfix {
  overflow: auto;
}

.projects-box {
  margin: 10px;
  padding: 2px;
  box-sizing: border-box;
}


.history-box {
  margin: 10px;
  padding: 2px;
  box-sizing: border-box;
}

 
.interests-box {
  margin: 10px;
  padding: 2px;
  box-sizing: border-box;
}